header {
  background-image: url("../img/back-mobile 1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.navigation__logo {
  width: auto;
  height: auto;
}
@media screen and (min-resolution: 2dppx ) {
  header {
    background-image: url("../img/back-mobile 2x.jpg");
  }
}
.navigation {
  background-color: rgba(40,54,69,0.3);
}
.navigation__logo {
  margin: 20px;
}
.navigation__item > a{
  color: white;
  display: block;
  text-decoration: none;
  padding: 25px;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 700px) {
  header {
    background-image: url("../img/back tablet 1x.jpg");
  }
  @media screen and (min-resolution: 2dppx ) {
    header {
      background-image: url("../img/back tablet 2x.jpg");
    }
  }
  .navigation__logo {
    width: 143px;
    height: 40px;
  }
}
@media screen and (max-width: 1200px){
  .navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background-color: rgba(29,38,48,0.8);
  }
  .navigation__toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 24px;
    color: transparent;
    background-color: transparent;
    border: none;
  }
  .navigation__toggle:hover {
    cursor: pointer;
  }
  .navigation__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid black;
  }
  .navigation__item {
    text-align: center;
    width: 100%;
    border-top:1px solid rgba(255,255,255,0.15);
    border-bottom: 1px solid black;
  }

  /* Описание закрытого меню */

  .navigation--closed .navigation__toggle {
    display: block;
  }
  .navigation--closed .navigation__toggle::after {
    content: '';
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 3px;
    top: 3px;
    position: absolute;
    left: 0;
    box-shadow: 0 8px 0 0 white,
    0 16px 0 0 white;
  }
  .navigation--closed .navigation__list {
    display: none;
  }

  /* Описание открытого меню */

  .navigation--opened .navigation__toggle::after {
    position: absolute;
    content: '';
    width: 65%;
    height: 3px;
    background-color: white;
    top: 45%;
    left: 12.5%;
    transform: rotate(45deg);
  }
  .navigation--opened .navigation__toggle::before {
    position: absolute;
    content: '';
    width: 65%;
    height: 3px;
    background-color: white;
    top: 45%;
    left: 12.5%;
    transform: rotate(-45deg);
  }
}
@media screen and (min-width: 1200px) {
  header {
    background-image: url("../img/back-desktop 1x.jpg");
  }
  @media screen and (min-resolution: 2dppx ) {
    header {
      background-image: url("../img/back-desktop 2x.jpg");
    }
  }
  .navigation {
    display: flex;
    padding: 0 130px;
    justify-content: space-between;
  }
  .navigation__item > a {
    font-size: 18px;
    font-weight: 200;
    line-height: 18px;
    text-transform: none;
    padding: 25px 40px;
  }
  .navigation__list {
    display: flex;
    list-style-type: none;
    align-items: center;

  }

  .navigation__toggle {
    display: none;
  }

}